*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid red;
}

html {
  height: 100%;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  background: radial-gradient(circle, hsl(0, 0%, 100%) 25%, hsl(212, 100%, 74%) 100%);
  display: flex;
  align-items: center;
  flex-direction: column;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

header {
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 1rem;
  position: sticky;
}

.weatherForm {
  gap: 1rem;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.cityInput {
  padding: 1rem;
  max-width: 250px;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 5px;
  border: 1px solid black;
}

.weatherForm button {
  padding: 1rem;
  color: white;
  cursor: pointer;
  max-width: 250px;
  font-weight: 700;
  font-size: 1.5rem;
  border-radius: 5px;
  transition: 0.3s ease;
  border: 1px solid black;
  background-color: hsl(210, 100%, 50%);
}

.weatherForm button:hover {
  background-color: hsl(210, 100%, 60%);
}

@media (max-width: 720px) {
  .weatherForm {
    flex-direction: column;
  }

  .cityInput {
    text-align: center;
  }

  .cityInput, .weatherForm button {
    min-width: 100%;
  }
}

main {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  padding: 2rem;
  text-align: center;
  border-radius: 0.5rem;
  background-color: white;
  color: hsl(0, 0%, 0%, 0.75);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.cityDisplay {
  font-size: 5rem;
  margin-bottom: 1rem;
}

.temperatureDisplay {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.humidityDisplay{
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.descriptionDisplay{
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.weatherEmoji {
  font-size: 7rem;
  margin-bottom: 1rem;
}

.errorDisplay{
  font-size: 2rem;
  font-weight: 500;
}

@media (max-width: 720px) {
  .cityDisplay {
    font-size: 3rem;
  }

  .temperatureDisplay {
    font-size: 2rem;
  }

  .humidityDisplay{
    font-size: 2rem;
  }

  .descriptionDisplay{
    font-size: 2rem;
  }

  .weatherEmoji {
    font-size: 3rem;
  }

  .errorDisplay{
    font-size: 1.5rem;
  }
}
